* {
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 10px;
}

body {
    font-size: 10px;
    font-size: 14px;
    font-family: 'montserrat';
    color: #262626;
    width: 100%;
}

.desktop {
    display: none;
}




@media only screen and (min-width: 993px) {
    .desktop {
        display: inherit;
    }
}


@media only screen and (min-width: 993px) {
    .mobile {
        display: none;
    }
}





@media only screen and (min-width: 1281px) {
    body {
        font-size: 1.35em;
    }
}


a {
    color: #048657;
}

img {
    width: 100%;
}

@media only screen and (min-width: 1281px) {
    body {
        font-size: 1.04vw;
    }
}


h3 {
    font-size: 26px;
    line-height: 1.65;
    margin-bottom: 25px;
    margin-top: 12px;

}


@media only screen and (min-width: 600px) {
    h3 {
        font-size: 31px;
        margin-bottom: 35px;
    }
}


@media only screen and (min-width: 1281px) {
    h3 {
        font-size: 2.41vw;
    }
}



p {
    color: #8d8d8d;
    margin-bottom: 45px;
    line-height: 22px;
    line-height: 1.7;
}



section {
    border-bottom: 1px solid #d8d8d8;
    padding: 65px 25px 86px;
    position: relative;

}

@media only screen and (min-width: 600px) {
    section {
        padding: 25px;
    }
}



@media only screen and (min-width: 600px) {
    .oneclickminer .asic {

        padding: 75px 25px 112px !important;

    }
}

button {
    background: #048657;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 11px 90px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 17px 0px 22px;

    width: 100%;
}

@media only screen and (min-width: 600px) {
    button {
        width: initial;
        font-size: 15px;
        padding: 24px 21px 24px;
        padding: 17px 21px 20px;

    }
}

button:hover {
    background: hsla(158, 94%, 26%, 1);
}


@media only screen and (min-width: 1281px) {
    button {
        font-size: 16px;
    }

}



button svg {
    top: 3px;
    position: relative;
    margin-right: 13px;
}


@media only screen and (min-width: 1281px) {
    .button {
        font-size: 1.167346vw;
    }
}





.download {
    background: #048657;
    border-radius: 5px;
    font-size: 15px;
    color: white !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    border: none;
    padding: 0px 23px;
    display: block;
}




@media only screen and (max-width: 600px) {
    .download {
        display: none;
    }
}


.label {
    color: #A4A4A4;
    margin-top: 25px;
    font-size: 11px;
    /*    font-size: 12px;*/
}


@media only screen and (min-width: 1281px) {
    .label {
        font-size: 0.86vw;
    }

}




.computer {
    width: 100%;
    max-width: 400px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: block;
}

@media only screen and (min-width: 600px) {
    .computer {
        display: none;
    }

}


.computerCrop {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 357px;
    display: none;
    min-height: 266px;
}


@media only screen and (min-width: 600px) {
    .computerCrop {
        display: block;

    }
}

@media only screen and (min-width: 1281px) {
    .computerCrop {
        width: 27.9vw;
    }
}




.navbar {

    font-size: 15px;
    margin: 0 auto;
    padding-top: 25px;
    height: 58px;
    /* position: absolute; */
    width: 100%;
    margin: 0 auto;
    position: relative;
    position: absolute;
    width: 100%;
    z-index: 5000;
    top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    width: -webkit-fill-available;
}

}

@media only screen and (min-width: 600px) {

    .navbar {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 36px;
    }

}



@media only screen and (min-width: 1281px) {
    .navbar {
        font-size: 1.167346vw;
        padding-top: calc(0.0580645161 * 620px);
        padding-top: 53px;
        height: calc(0.0967741935 * 620px);

    }
}


.navbar .content {
    margin: 0 auto;

}

@media only screen and (min-width: 993px) {
    .navbar .content {
        max-width: 92.8125%;
        max-width: 1018px;
        margin: 0 auto;
    }
}


.navbar svg {
    position: relative;

    width: 15.3198653%;
    height: auto;

    min-width: 152.35px;
}

@media only screen and (min-width: 600px) {
    .navbar svg {
        min-width: 182.35px;
        top: 12px;
        float: left;
    }


}








.navbar ul {
    list-style: none;
    padding: 0px;
    display: none;
    margin: 0px;
}


@media only screen and (min-width: 993px) {
    .navbar ul {
        display: inline-flex;

    }

    .navbar--left {
        float: left;
    }

    .navbar--right {
        float: right;
    }
}




.navbar--left {
    justify-content: space-between;
    /*
    width: 476px;
    width: 37.1875vw;
*/
    line-height: 60px;
    padding: 20px 0px;
    margin-left: 49px !important;
}




.navbar--left li {
    padding-right: 50px;
}


.navbar--right li:first-child {
    margin-right: 35px;
}

@media only screen and (min-width: 1281px) {
    .navbar--left {
        margin-left: 4.296875% !important;
    }

}




.navbar--right {
    float: right;
    line-height: 58px;
}



.navbar a {
    color: #262626;
    text-decoration: none;
}



.single {
    margin-top: 94px;
}


.introduction {
    height: 620px;
    height: 635px;

    box-sizing: border-box;

}

.introduction .label {}

@media only screen and (min-width: 600px) {
    .introduction {
        box-sizing: border-box;
        height: 525px;
        height: 100vh;
    }

    .introduction .content p {
        max-width: 384px;
        max-width: 412px;
        margin-left: auto;
        margin-right: auto;
    }

    introduction .label {
        display: block;
    }
}

@media only screen and (min-width: 1281px) {
    .introduction {
        box-sizing: border-box;
        height: 93.5vh;
    }
}



@media only screen and (min-width: 1281px) {
    .introduction h3 {
        font-size: 2.41vw;
    }
}


.introduction .content {


    margin: 0 auto;
    /* margin-top: 40px; */
    top: 10%;


    position: relative;
    text-align: left;

}

@media only screen and (min-width: 600px) {
    .introduction .content {
        top: 38%;

        max-width: 492px;
    }

}




.introduction .button {}


@media only screen and (min-width: 600px) {
    .introduction .content {
        /* padding-left: 90px; */
        text-align: center;
    }
}

@media only screen and (min-width: 1281px) {
    .introduction .content {
        max-width: 34.609375vw;
    }
}




.oneclickminer h3 {
    margin-top: 20px;
}


.asics content {}

.asics img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);


}

.oneclickminer button {
    border-radius: 0px 0px 5px 5px;
}

.asics button {
    border-radius: 0px 0px 5px 5px;
}


@media only screen and (min-width: 600px) {
    .asics img {
        max-width: 443px;
        max-width: 34.609375vw;
        margin: 0px;
        /*        margin-top: 24px;*/
    }

    .asics button {
        border-radius: 5px;
    }

    .oneclickminer button {
        border-radius: 5px;
    }
}



.oneclickminer,
.asics {
    display: block;
}

@media only screen and (min-width: 600px) {

    .oneclickminer,
    .asics {
        display: flex;
        padding: 75px 25px 112px;
        justify-content: space-between;
    }
}


.oneclickminer {}

@media only screen and (min-width: 600px) {
    .oneclickminer {
        display: flex;
    }
}

.oneclickminer--mockup {

    box-shadow: 0px 11px 40px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    margin: 44px 0px;
    max-width: none;
}


@media only screen and (min-width: 600px) {
    .oneclickminer--mockup {
        margin: 0px;
        max-width: 443px;
        max-width: 34.609375vw;
        border-radius: 10px;
        overflow: hidden;
    }
}




.col2 {
    width: 100%;
}

.centred {


    max-width: 433px;


}

@media only screen and (min-width: 1281px) {
    .centred {


        text-align: center;


    }
}



@media only screen and (min-width: 1281px) {
    .centred {
        max-width: 31.640625vw;
        margin-left: 9.296875vw;
        margin-right: 13.28125vw;
    }
}


@media only screen and (min-width: 600px) {
    .col2 {
        width: 50%;
    }

    .centred {
        text-align: center;
        margin-left: 112px;
        margin-right: 170px;
        text-align: center;
        margin-left: 101px;
        margin-right: 150px;
    }
}


.footerblocklink {
    display: block;
    margin-bottom: 18px;
    padding-top: 2px;
    padding-bottom: 4px;
    color: #565656;
    text-decoration: none;
}



.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-col-3 {
    width: 25%;
}


.footer .content {
    max-width: 1018px;
    display: block;
    justify-content: space-between;
    padding-top: 68px;

    padding-bottom: 40px;
    font-size: 13px;
    padding-left: 0px;
    padding-right: 0px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left !important;
}


@media only screen and (min-width: 600px) {
    .footer .content {
        display: flex;

        padding-left: 0px;
        padding-right: 0px;
    }
}

.footer svg {
    width: 121px;
    top: -2px;
    position: relative;
    margin-bottom: 51px;
}

@media only screen and (min-width: 600px) {
    margin-bottom: 0px;
}


.footer ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
    font-size: 13px;
}

@media only screen and (min-width: 600px) {
    .footer ul {
        margin-left: -120px;
    }

}


.footer li {
    margin-bottom: 31px;
}

@media only screen and (min-width: 600px) {
    .footer li {
        margin-bottom: 49px;
    }
}

.footer li a {
    text-decoration: none;
    color: inherit;
}


.donationBox {
    font-size: 11px;
    font-size: 13px;
    margin-top: 73px;
    margin-bottom: 18px;
}


@media only screen and (min-width: 600px) {
    .donationBox {
        max-width: 290px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

}



.qrbutton {
    display: flex;
    height: 58px;
    margin: 25px 0px;
}

.qrbutton img {
    margin-right: 20px;
    width: 58px;
    height: auto;
}

.qrbutton a {
    width: -webkit-fill-available;
}

.qrbutton button {
    height: 60px;
    position: relative;
    top: -1px;
    width: -webkit-fill-available;

}

.donationBox .label {
    font-size: 11px;
}

.single h3 {
    text-align: left;
}


.content {

    margin: 0 auto;
    text-align: left;

}


@media only screen and (min-width: 993px) {
    .content {
        text-align: center;
        max-width: 297px;
    }

}


.single .content p {
    color: #262626;
}

blockquote {
    padding: 0px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #008756;
}

.single .content {
    margin-top: 141px;
    margin-top: 70px;
    text-align: left !important;
    max-width: none;
    max-width: 627px;
}

.single .content li {
    margin: 1em 0;
}

.whiteBox {
    /*    box-shadow: 0px 11px 40px rgba(0, 0, 0, 0.11);*/
    border-radius: 0px;
    overflow: hidden;
    padding-top: 56%;
    position: relative;
    margin-bottom: 50px;
}

.whiteBox .content {
    font-size: 55px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border: 1px solid #d8d8d8;
}

.whiteBox svg {
    width: auto;
    height: 80%;
    top: 10%;
    position: relative;

}

.whiteBox p {
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    margin: 0;
}


.wallet-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 40px;
    text-align: left;
    max-width: 92.8125%;
    width: 1018px;
}

.wallet-list .wallet-list-item {
    display: inline-block;
    width: 45.2%;
    height: auto;
    margin-bottom: 30px;
    margin-right: 2.4%;
    margin-left: 2.4%;
    text-align: center;
    box-sizing: border-box;
    min-height: 300px;
    box-shadow: 0px 11px 40px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    max-width: 443px;
}



.innerSection-1zFnfY {
    max-width: 1018px;
    width: 100%;
}


.bigBox-PGc5EP {
    max-width: 1100px;
    width: 100%;
}

.box-34lxhR {
    -webkit-box-sizing: border-box;
    border: 2px solid rgba(63, 66, 70, .95);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 0 8px;
    position: relative;
}

.flexWrap-1K8nA- {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flexJustifyCenter-XyJP9E {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.flexAlignCenter-2tn6as {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.flexHorizontal-1YWL8b {
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}

.flex-1xMQg5,
.flex-1xMQg5 .flexChild-faoVW3 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.flex-1xMQg5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.bigLogo-1-7P5z {
    height: 100%;
    margin: 40px 30px;
    max-width: 710px;
    width: 100%;
}

.img-_IIcTK {
    height: 100%;
    width: 100%;
}


.logoRow-27_7kq {
    -ms-flex-flow: row wrap;
    -ms-flex-pack: justify;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.blackBGPattern-2OPSDy,
.whiteBGPattern-2Hen8z {
    background-position: 0 0, 30px 30px;
    background-size: 20px 20px;
}

.blackBGPattern-2OPSDy {
    background-color: transparent;
    background-image: linear-gradient(45deg, #2e3033 25%, transparent 0, transparent 75%, #2e3033 0, #2e3033), linear-gradient(45deg, #2e3033 25%, transparent 0, transparent 75%, #2e3033 0, #2e3033);
}

.whiteBGPattern-2Hen8z {
    background-color: #fff;
    background-image: linear-gradient(45deg, #f6f6f6 25%, transparent 0, transparent 75%, #f6f6f6 0, #f6f6f6), linear-gradient(45deg, #f6f6f6 25%, transparent 0, transparent 75%, #f6f6f6 0, #f6f6f6);
}

.blackBGPattern-2OPSDy,
.whiteBGPattern-2Hen8z {
    background-position: 0 0, 30px 30px;
    background-size: 20px 20px;
}

.logoSixth-3Bd6et,
.logoThird-1yuEue {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 122px;
    margin: 10px 10px 8px 0;
    padding: 15px;
}

.logoThird-1yuEue {
    -ms-flex-negative: 0;
    -ms-flex-positive: 2;
    -ms-flex-preferred-size: 200px;
    -webkit-box-flex: 2;
    flex-basis: 200px;
    flex-grow: 2;
    flex-shrink: 0;
}

.box-34lxhR {
    -webkit-box-sizing: border-box;
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 0 8px;
    position: relative;
}

.linkWrapper-1BQh3M {
    bottom: 7px;
    position: absolute;
    right: 0;
}

.link-loZ2kj {
    -webkit-transition: all .1s ease;
    color: #00b0f4;
    margin-right: 16px;
    opacity: .5;
    transition: all .1s ease;
}


.donateBoxContainer {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    width: 100%;
    height: 300px;
    max-width: 1018px;
    margin: 0 auto;
}


.logoSixth-3Bd6et,
.logoThird-1yuEue {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 122px;
    margin: 10px 10px 8px 0;
    padding: 15px;
}


.center {
    text-align: center;
    font-size: 21px;
    max-width: 963px;
    margin: 0 auto;
    line-height: 1.8;
    padding: 98px 0px 103px;
}
